/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: sans-serif;
  width: 300px;
  background: teal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.popout {
  padding: 20px;
}

.title {
  text-align: center;
  font-family: 'Baloo Bhaina';
  font-size: 22px;
}
.search-input {
  width: 200px;
  letter-spacing: 2px;
  padding: 5px;
  margin: 5px auto;

}

.search-li {
  padding: 10px;
  width: 280px;
  cursor: pointer;
  border-bottom: 1px solid black;

}

.search-title {
  font-size: 14px;
  font-weight: lighter;
}

.search-score {
  font-size: 12px;
}

.search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inbox-li {
  border-bottom: 1px solid black;
  padding: 5px;

}

.unread {
  font-weight: bold;
}

.header-div {
  display: flex;
  justify-content: space-between;
}
.read {
  font-weight: lighter;
}

.inbox-ul {
  width: 260px;
  border: 1px solid black;
}

i.material-icons {
  font-size: 28px;
  margin: 5px;
}

ul {
  width: 300px;
}
